### 퓨처스 부문
### 앱 사용성 데이터를 통한 대출신청 예측분석
### 가명화된 데이터를 기반으로 고객의 대출상품 신청여부 예측
### (2022년 3~5월 데이터제공 / 2022년 6월 예측)
### 예측모델을 활용하여 탐색적 데이터 분석 수행
### 대출신청, 미신청 고객을 분류하여 고객의 특성 분석결과 도출¶

In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [2]:
df_loan=pd.read_csv('C:/Users/kimsy/빅콘/loan_user_loan/loan_user_loan.csv')

In [3]:
df_loan.head()

,Unnamed: 0,user_id,application_id,gender,credit_score,yearly_income,income_type,employment_type,houseown_type,desired_amount,...,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,Old,loanapply_insert_time,loan_limit,loan_rate,is_applied,Month,event
0,0,430982,1748340,1.0,620.0,24000000.0,EARNEDINCOME,정규직,자가,25000000.0,...,0.0,2.0,15000000.0,26.0,2022-06-07 13:05:41,42000000.0,13.6,NaN,6.0,0.0
1,1,430982,1748340,1.0,620.0,24000000.0,EARNEDINCOME,정규직,자가,25000000.0,...,0.0,2.0,15000000.0,26.0,2022-06-07 13:05:41,24000000.0,17.9,NaN,6.0,0.0
2,2,430982,1748340,1.0,620.0,24000000.0,EARNEDINCOME,정규직,자가,25000000.0,...,0.0,2.0,15000000.0,26.0,2022-06-07 13:05:41,24000000.0,18.5,NaN,6.0,0.0
3,3,430982,1748340,1.0,620.0,24000000.0,EARNEDINCOME,정규직,자가,25000000.0,...,0.0,2.0,15000000.0,26.0,2022-06-07 13:05:41,29000000.0,10.8,NaN,6.0,0.0
4,4,430982,1748340,1.0,620.0,24000000.0,EARNEDINCOME,정규직,자가,25000000.0,...,0.0,2.0,15000000.0,26.0,2022-06-07 13:05:41,5000000.0,16.4,NaN,6.0,0.0

In [15]:
df_loan.drop('Unnamed: 0',axis=1,inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"

In [17]:
del df_loan['loanapply_insert_time']

### 결측치 확인

In [16]:
df_loan

,user_id,application_id,gender,credit_score,yearly_income,income_type,employment_type,houseown_type,desired_amount,purpose,...,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,Old,loanapply_insert_time,loan_limit,loan_rate,is_applied,Month,event
133,430982,1868275,1.0,620.0,2000000.0,EARNEDINCOME,정규직,자가,35000000.0,대환대출,...,0.0,2.0,15000000.0,26.0,2022-05-20 09:27:15,5000000.0,9.6,0.0,5.0,3.0
134,430982,1868275,1.0,620.0,2000000.0,EARNEDINCOME,정규직,자가,35000000.0,대환대출,...,0.0,2.0,15000000.0,26.0,2022-05-20 09:27:15,21000000.0,14.5,0.0,5.0,3.0
135,430982,1868275,1.0,620.0,2000000.0,EARNEDINCOME,정규직,자가,35000000.0,대환대출,...,0.0,2.0,15000000.0,26.0,2022-05-20 09:27:16,5000000.0,16.4,0.0,5.0,3.0
136,430982,1868275,1.0,620.0,2000000.0,EARNEDINCOME,정규직,자가,35000000.0,대환대출,...,0.0,2.0,15000000.0,26.0,2022-05-20 09:27:15,25000000.0,13.4,0.0,5.0,3.0
137,430982,1868275,1.0,620.0,2000000.0,EARNEDINCOME,정규직,자가,35000000.0,대환대출,...,0.0,2.0,15000000.0,26.0,2022-05-20 09:27:15,38000000.0,15.1,0.0,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13197654,212726,1199031,1.0,660.0,30000000.0,EARNEDINCOME,정규직,전월세,2000000.0,생활비,...,0.0,2.0,34000000.0,27.0,2022-04-21 09:34:44,16000000.0,15.3,0.0,4.0,4.0
13197655,212726,1199031,1.0,660.0,30000000.0,EARNEDINCOME,정규직,전월세,2000000.0,생활비,...,0.0,2.0,34000000.0,27.0,2022-04-21 09:34:43,10000000.0,17.4,0.0,4.0,4.0
13197656,212726,1199031,1.0,660.0,30000000.0,EARNEDINCOME,정규직,전월세,2000000.0,생활비,...,0.0,2.0,34000000.0,27.0,2022-04-21 09:34:45,6000000.0,16.0,0.0,4.0,4.0
13197657,212726,1199031,1.0,660.0,30000000.0,EARNEDINCOME,정규직,전월세,2000000.0,생활비,...,0.0,2.0,34000000.0,27.0,2022-04-21 09:35:03,18000000.0,15.0,0.0,4.0,4.0
13197658,212726,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_loan_sum = df_loan.isnull().sum()

In [7]:
df_loan_sum

user_id                                      0
application_id                               0
gender                                  119734
credit_score                           1416597
yearly_income                                7
income_type                                  1
employment_type                              1
houseown_type                                1
desired_amount                               1
purpose                                      1
personal_rehabilitation_yn                   1
personal_rehabilitation_complete_yn          1
existing_loan_cnt                            1
existing_loan_amt                            1
Old                                     119734
loanapply_insert_time                        1
loan_limit                                   1
loan_rate                                    1
is_applied                             3166964
Month                                        1
event                                        1
dtype: int64

In [8]:
#index는 변수이름, df에 있는 month 열에 6이 들은 것들의 인덱스를 추출해가지고 index2에 저장해라
#df1테이블 안에 6월달에 있는 인덱스들을 없애라. df_loan에 저장 ㄱ ㄱ
# 변수를 따로 따로 저장 
index2 = df_loan[df_loan['Month'] == 6].index
df_loan = df_loan.drop(index2)
df_t = df_loan[df_loan['Month'] == 6]

In [9]:
# df_log_sum

In [10]:
# df_user_sum

### 데이터 분포 확인 및 전처리
#### 영어를 한글로 통일

In [11]:
# df_user['purpose'].value_counts()

### 각 데이터 user_id, application_id 기준으로 중복되지 않은 행 삭제

In [12]:
df_app = df_loan['application_id']
df_app = pd.DataFrame(df_app)
df_app = df_app.drop_duplicates(subset = None, keep = 'first', inplace = False, ignore_index = False)

In [ ]:
# df_user_id = df_user['user_id']
# df_user_id = pd.DataFrame(df_user_id)
# df_user_id = df_user_id.drop_duplicates(subset = None, keep = 'first', inplace = False, ignore_index = False)

In [ ]:
# df_user = pd.merge(df_app, df_user)

In [ ]:
# df_user = pd.merge(df_user_id, df_user)

In [ ]:
# df_user

In [ ]:
# df_user_id1 = df_user['user_id']
# df_user_id1 = pd.DataFrame(df_user_id1)
# df_user_id1 = df_user_id1.drop_duplicates(subset = None, keep = 'first', inplace = False, ignore_index = False)

In [ ]:
# df_user_id1

In [ ]:
# df_app1 = df_user['application_id']
# df_app1 = pd.DataFrame(df_app1)
# df_app1 = df_app1.drop_duplicates(subset = None, keep = 'first', inplace = False, ignore_index = False)

In [ ]:
# df_log = pd.merge(df_user_id1, df_log)
# df_loan = pd.merge(df_app1, df_loan)

In [14]:
df_loan

,user_id,application_id,gender,credit_score,yearly_income,income_type,employment_type,houseown_type,desired_amount,purpose,...,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,Old,loanapply_insert_time,loan_limit,loan_rate,is_applied,Month,event
133,430982,1868275,1.0,620.0,2000000.0,EARNEDINCOME,정규직,자가,35000000.0,대환대출,...,0.0,2.0,15000000.0,26.0,2022-05-20 09:27:15,5000000.0,9.6,0.0,5.0,3.0
134,430982,1868275,1.0,620.0,2000000.0,EARNEDINCOME,정규직,자가,35000000.0,대환대출,...,0.0,2.0,15000000.0,26.0,2022-05-20 09:27:15,21000000.0,14.5,0.0,5.0,3.0
135,430982,1868275,1.0,620.0,2000000.0,EARNEDINCOME,정규직,자가,35000000.0,대환대출,...,0.0,2.0,15000000.0,26.0,2022-05-20 09:27:16,5000000.0,16.4,0.0,5.0,3.0
136,430982,1868275,1.0,620.0,2000000.0,EARNEDINCOME,정규직,자가,35000000.0,대환대출,...,0.0,2.0,15000000.0,26.0,2022-05-20 09:27:15,25000000.0,13.4,0.0,5.0,3.0
137,430982,1868275,1.0,620.0,2000000.0,EARNEDINCOME,정규직,자가,35000000.0,대환대출,...,0.0,2.0,15000000.0,26.0,2022-05-20 09:27:15,38000000.0,15.1,0.0,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13197654,212726,1199031,1.0,660.0,30000000.0,EARNEDINCOME,정규직,전월세,2000000.0,생활비,...,0.0,2.0,34000000.0,27.0,2022-04-21 09:34:44,16000000.0,15.3,0.0,4.0,4.0
13197655,212726,1199031,1.0,660.0,30000000.0,EARNEDINCOME,정규직,전월세,2000000.0,생활비,...,0.0,2.0,34000000.0,27.0,2022-04-21 09:34:43,10000000.0,17.4,0.0,4.0,4.0
13197656,212726,1199031,1.0,660.0,30000000.0,EARNEDINCOME,정규직,전월세,2000000.0,생활비,...,0.0,2.0,34000000.0,27.0,2022-04-21 09:34:45,6000000.0,16.0,0.0,4.0,4.0
13197657,212726,1199031,1.0,660.0,30000000.0,EARNEDINCOME,정규직,전월세,2000000.0,생활비,...,0.0,2.0,34000000.0,27.0,2022-04-21 09:35:03,18000000.0,15.0,0.0,4.0,4.0
13197658,212726,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 필요없는 컬럼 삭제

In [ ]:
# df_log

In [ ]:
# df_log.isnull().sum()

#### mp_app_version의 null 값이 크고 버전에 따라 새롭게 추가되는 기능들이 있지만 분석 결과에 크게 영향을 미치지 않는다 생각하여 삭제함
#### mp_os는 mp_app_version을 확인할때 필요한 컬럼이지만, app_version 컬럼을 삭제하므로 마찬가지로 제거한다,

In [ ]:
# df_log = df_log.drop(['mp_os','mp_app_version'], axis = 1)

#### event에서 openapp, endloanapply, login, getcreditinfo, startloanapplu, viewloanapplyintro,signup은 직접적인 하나로 연결되는 부분이기에 제거

In [ ]:
# li = ['UseLoanManage','UsePrepayCalc','UseDSRCalc','GetCreditInfo']
# df_log = df_log[df_log['event'].isin(li)]
# df_log

### 나이와 성별 컬럼 비교

In [ ]:
# df_user['Old'] = 2022 - df_user['birth_year']

In [ ]:
# 20대
# df_m20 =  df_user[(df_user['Old'] < 30) & (df_user['gender']==1.0)]
# df_w20 =  df_user[(df_user['Old'] < 30) & (df_user['gender']==0.0)]

# 30대
# df_m30 =  df_user[(df_user['Old'] >= 30) & (df_user['Old'] < 40) & (df_user['gender']==1.0)]
# df_w30 =  df_user[(df_user['Old'] >= 30) & (df_user['Old'] < 40) & (df_user['gender']==0.0)]

# 40대
# df_m40 =  df_user[(df_user['Old'] >= 40) & (df_user['Old'] < 50) & (df_user['gender']==1.0)]
# df_w40 =  df_user[(df_user['Old'] >= 40) & (df_user['Old'] < 50) & (df_user['gender']==0.0)]

# 50대
# df_m50 =  df_user[(df_user['Old'] >= 50) & (df_user['Old'] < 60) & (df_user['gender']==1.0)]
# df_w50 =  df_user[(df_user['Old'] >= 50) & (df_user['Old'] < 60) & (df_user['gender']==0.0)]

In [ ]:
# 20대
# df_m20_sum = df_m20['purpose'].value_counts()/len(df_m20)*100
# df_w20_sum = df_w20['purpose'].value_counts()/len(df_w20)*100

# 30대
# df_m30_sum = df_m30['purpose'].value_counts()/len(df_m30)*100
# df_w30_sum = df_w30['purpose'].value_counts()/len(df_w30)*100

# 40대
# df_m40_sum = df_m40['purpose'].value_counts()/len(df_m40)*100
# df_w40_sum = df_w40['purpose'].value_counts()/len(df_w40)*100

# 50대
# df_m50_sum = df_m50['purpose'].value_counts()/len(df_m50)*100
# df_w50_sum = df_w50['purpose'].value_counts()/len(df_w50)*100

#### 20대 남녀 차이 적음

In [ ]:
# df_m20_sum

In [ ]:
# df_w20_sum

#### 30대 남녀 차이 적음

In [ ]:
# df_m30_sum

In [ ]:
# df_w30_sum

#### 40대 남여 차이 적음

In [ ]:
# df_m40_sum

In [ ]:
# df_w40_sum

#### 50대 남녀 차이 적음

In [ ]:
# df_m50_sum

In [ ]:
# df_w50_sum

#### 20대에서 50대 까지의 purpose를 보았을 때, 남녀, 나이에 대하여 비율의 차이가 크지 않아 제거

In [ ]:
# df_user = df_user.drop(['birth_year','gender', 'Old'], axis = 1)

#### 개인회생자, 기대출 컬럼의 null값은 기대출을 받지 않고, 개인회생자가 아닌 경우로 여겨 0으로 채움

In [ ]:
# df_user.loc[df_user['personal_rehabilitation_yn'] != df_user['personal_rehabilitation_yn'], 'personal_rehabilitation_yn'] = 0
# df_user.loc[df_user['personal_rehabilitation_complete_yn'] != df_user['personal_rehabilitation_complete_yn'], 'personal_rehabilitation_complete_yn'] = 0
# df_user.loc[df_user['existing_loan_cnt'] != df_user['existing_loan_cnt'], 'existing_loan_cnt'] = 0
# df_user.loc[df_user['existing_loan_amt'] != df_user['existing_loan_amt'], 'existing_loan_amt'] = 0

#### 개인회생자가 아닌데 납입완료로 표시된 경우 제거

In [ ]:
# 개인회생자 이면서 납입 완료
# df_user[(df_user['personal_rehabilitation_yn']==1.0) & (df_user['personal_rehabilitation_complete_yn']==1.0)]

In [ ]:
# 개인회생자가 아닌데 납입 완료인 경우
# df_user[(df_user['personal_rehabilitation_yn']==0.0) & (df_user['personal_rehabilitation_complete_yn']==1.0)]

In [ ]:
# index1 = df_user[(df_user['personal_rehabilitation_yn']==0.0) & (df_user['personal_rehabilitation_complete_yn']==1.0)].index
# df_user=df_user.drop(index1)

### loan_limit, loan_rate 결측치 있는 행 삭제

In [18]:
df_loan

,user_id,application_id,gender,credit_score,yearly_income,income_type,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,Old,loan_limit,loan_rate,is_applied,Month,event
133,430982,1868275,1.0,620.0,2000000.0,EARNEDINCOME,정규직,자가,35000000.0,대환대출,0.0,0.0,2.0,15000000.0,26.0,5000000.0,9.6,0.0,5.0,3.0
134,430982,1868275,1.0,620.0,2000000.0,EARNEDINCOME,정규직,자가,35000000.0,대환대출,0.0,0.0,2.0,15000000.0,26.0,21000000.0,14.5,0.0,5.0,3.0
135,430982,1868275,1.0,620.0,2000000.0,EARNEDINCOME,정규직,자가,35000000.0,대환대출,0.0,0.0,2.0,15000000.0,26.0,5000000.0,16.4,0.0,5.0,3.0
136,430982,1868275,1.0,620.0,2000000.0,EARNEDINCOME,정규직,자가,35000000.0,대환대출,0.0,0.0,2.0,15000000.0,26.0,25000000.0,13.4,0.0,5.0,3.0
137,430982,1868275,1.0,620.0,2000000.0,EARNEDINCOME,정규직,자가,35000000.0,대환대출,0.0,0.0,2.0,15000000.0,26.0,38000000.0,15.1,0.0,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13197654,212726,1199031,1.0,660.0,30000000.0,EARNEDINCOME,정규직,전월세,2000000.0,생활비,0.0,0.0,2.0,34000000.0,27.0,16000000.0,15.3,0.0,4.0,4.0
13197655,212726,1199031,1.0,660.0,30000000.0,EARNEDINCOME,정규직,전월세,2000000.0,생활비,0.0,0.0,2.0,34000000.0,27.0,10000000.0,17.4,0.0,4.0,4.0
13197656,212726,1199031,1.0,660.0,30000000.0,EARNEDINCOME,정규직,전월세,2000000.0,생활비,0.0,0.0,2.0,34000000.0,27.0,6000000.0,16.0,0.0,4.0,4.0
13197657,212726,1199031,1.0,660.0,30000000.0,EARNEDINCOME,정규직,전월세,2000000.0,생활비,0.0,0.0,2.0,34000000.0,27.0,18000000.0,15.0,0.0,4.0,4.0
13197658,212726,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_loan = df_loan.dropna(subset=['loan_limit','loan_rate'])

### loan_limit가 0인 경우와 10억을 넘어가는 경우

In [20]:
df_loan[df_loan['loan_limit'] == 0]

,user_id,application_id,gender,credit_score,yearly_income,income_type,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,Old,loan_limit,loan_rate,is_applied,Month,event
7633,33278,1189667,1.0,600.0,25000000.0,EARNEDINCOME2,정규직,기타가족소유,1000000.0,생활비,0.0,0.0,2.0,4000000.0,24.0,0.0,15.7,1.0,5.0,4.0
13738,367595,638683,1.0,590.0,52000000.0,EARNEDINCOME,정규직,자가,20000000.0,생활비,0.0,0.0,6.0,206000000.0,35.0,0.0,19.6,0.0,5.0,4.0
17073,199243,1538767,0.0,630.0,36000000.0,OTHERINCOME,기타,기타가족소유,36000000.0,생활비,0.0,0.0,6.0,26000000.0,40.0,0.0,20.0,0.0,5.0,20.0
17074,199243,1921425,0.0,520.0,36000000.0,OTHERINCOME,기타,기타가족소유,10000000.0,생활비,0.0,0.0,6.0,26000000.0,40.0,0.0,19.9,0.0,3.0,6.0
17075,199243,1198932,0.0,530.0,36000000.0,OTHERINCOME,기타,기타가족소유,5000000.0,생활비,0.0,0.0,6.0,26000000.0,40.0,0.0,19.9,0.0,4.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13183001,89142,452735,1.0,NaN,30000000.0,EARNEDINCOME,정규직,자가,7000000.0,생활비,0.0,0.0,10.0,105000000.0,38.0,0.0,15.8,0.0,4.0,0.0
13183003,89142,452735,1.0,NaN,30000000.0,EARNEDINCOME,정규직,자가,7000000.0,생활비,0.0,0.0,10.0,105000000.0,38.0,0.0,15.5,0.0,4.0,0.0
13184422,492339,610768,1.0,690.0,65000000.0,EARNEDINCOME,정규직,자가,30000000.0,대환대출,0.0,0.0,6.0,216000000.0,45.0,0.0,14.6,0.0,4.0,1.0
13187744,343658,1535430,0.0,NaN,3000000.0,FREELANCER,기타,자가,10000000.0,생활비,0.0,0.0,0.0,0.0,74.0,0.0,13.3,0.0,4.0,0.0
13192520,216084,67287,1.0,630.0,45000000.0,EARNEDINCOME,정규직,자가,10000000.0,생활비,0.0,0.0,4.0,100000000.0,44.0,0.0,14.9,0.0,4.0,2.0

In [21]:
df_loan[df_loan['loan_limit'] > 1000000000]

,user_id,application_id,gender,credit_score,yearly_income,income_type,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,Old,loan_limit,loan_rate,is_applied,Month,event
673860,779572,326823,1.0,960.0,110000000.0,EARNEDINCOME,정규직,자가,50000000.0,생활비,0.0,0.0,4.0,207000000.0,47.0,1.128000e+09,7.9,0.0,3.0,1.0
699000,449938,639784,1.0,710.0,850000000.0,EARNEDINCOME,정규직,자가,100000000.0,생활비,0.0,0.0,1.0,0.0,54.0,1.000000e+10,9.9,1.0,3.0,28.0
700053,449938,850504,1.0,710.0,850000000.0,EARNEDINCOME,정규직,자가,100000000.0,생활비,0.0,0.0,1.0,0.0,54.0,1.000000e+10,9.9,1.0,3.0,28.0
1729510,168980,668102,1.0,590.0,57000000.0,EARNEDINCOME,정규직,자가,10000000.0,생활비,0.0,0.0,4.0,76000000.0,47.0,1.947000e+09,7.8,0.0,3.0,32.0
2776694,106497,1444546,1.0,820.0,82000000.0,EARNEDINCOME,정규직,자가,30000000.0,생활비,0.0,0.0,0.0,0.0,42.0,1.128000e+09,8.0,0.0,3.0,0.0
2813071,848152,2123162,1.0,610.0,68000000.0,EARNEDINCOME,정규직,자가,50000000.0,생활비,0.0,0.0,15.0,792000000.0,44.0,1.480000e+09,8.6,1.0,3.0,0.0
3292463,796150,1934129,1.0,640.0,50000000.0,EARNEDINCOME,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,14.0,37000000.0,32.0,1.000000e+10,9.9,1.0,4.0,2.0
3292518,796150,1687312,1.0,640.0,50000000.0,EARNEDINCOME,정규직,기타가족소유,3000000.0,생활비,0.0,0.0,14.0,37000000.0,32.0,1.000000e+10,9.9,0.0,3.0,0.0
3292537,796150,503070,1.0,640.0,50000000.0,EARNEDINCOME,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,14.0,37000000.0,32.0,1.000000e+10,9.9,1.0,4.0,2.0
3957589,550872,54458,1.0,690.0,42000000.0,EARNEDINCOME,정규직,전월세,20000000.0,대환대출,0.0,0.0,7.0,105000000.0,50.0,1.000000e+10,9.9,1.0,3.0,2.0
3957595,550872,1480934,1.0,690.0,43000000.0,EARNEDINCOME,정규직,전월세,10000000.0,생활비,0.0,0.0,7.0,105000000.0,50.0,1.000000e+10,9.9,0.0,3.0,2.0
4128310,504148,1936078,1.0,750.0,165000000.0,EARNEDINCOME,정규직,자가,20000000.0,생활비,0.0,0.0,18.0,469000000.0,49.0,1.034000e+09,7.7,0.0,3.0,0.0
4511395,494885,1210176,1.0,700.0,134000000.0,EARNEDINCOME,정규직,자가,100000000.0,대환대출,0.0,0.0,7.0,342000000.0,52.0,1.000000e+10,9.9,0.0,3.0,0.0
4511399,494885,484863,1.0,700.0,134000000.0,EARNEDINCOME,정규직,자가,100000000.0,대환대출,0.0,0.0,7.0,342000000.0,52.0,1.000000e+10,9.9,0.0,3.0,0.0
4591441,226244,497413,0.0,640.0,150000000.0,EARNEDINCOME,정규직,자가,70000000.0,사업자금,0.0,0.0,5.0,618000000.0,45.0,1.000000e+10,9.9,1.0,3.0,4.0
4689465,830799,429278,0.0,640.0,84000000.0,EARNEDINCOME,정규직,기타가족소유,20000000.0,생활비,0.0,0.0,11.0,206000000.0,44.0,1.041000e+09,7.8,0.0,3.0,0.0
4832298,861604,1689121,1.0,890.0,50000000.0,PRIVATEBUSINESS,정규직,자가,50000000.0,생활비,0.0,0.0,0.0,0.0,42.0,1.201000e+09,8.3,0.0,5.0,0.0
5171575,153148,592614,1.0,750.0,200000000.0,PRIVATEBUSINESS,기타,자가,100000000.0,사업자금,0.0,0.0,1.0,300000000.0,50.0,1.119000e+09,7.8,0.0,3.0,8.0
5466098,529950,590360,1.0,650.0,30000000.0,EARNEDINCOME,정규직,전월세,100000000.0,대환대출,0.0,0.0,5.0,93000000.0,45.0,1.000000e+10,9.9,0.0,3.0,8.0
5468477,738980,1297845,1.0,990.0,170000000.0,EARNEDINCOME,정규직,자가,100000000.0,투자,0.0,0.0,5.0,599000000.0,40.0,1.143000e+09,7.9,0.0,3.0,2.0
5928820,582101,529823,0.0,600.0,35000000.0,EARNEDINCOME,정규직,자가,15000000.0,생활비,0.0,0.0,9.0,121000000.0,53.0,1.783000e+09,7.8,0.0,3.0,4.0
6193118,700933,1906479,1.0,720.0,28000000.0,EARNEDINCOME2,정규직,기타가족소유,3000000.0,생활비,0.0,0.0,4.0,9000000.0,20.0,1.659000e+09,7.2,0.0,3.0,6.0
6354229,289593,905110,0.0,870.0,58000000.0,EARNEDINCOME,정규직,자가,5000000.0,생활비,0.0,0.0,8.0,487000000.0,37.0,1.208000e+09,7.7,0.0,3.0,0.0
6614303,655582,1871244,1.0,930.0,200000000.0,EARNEDINCOME,정규직,자가,100000000.0,투자,0.0,0.0,1.0,0.0,61.0,2.337000e+09,7.3,0.0,3.0,0.0
6708449,299115,805722,1.0,580.0,30000000.0,EARNEDINCOME,정규직,기타가족소유,10000000.0,기타,0.0,0.0,5.0,82000000.0,28.0,1.102000e+09,7.6,0.0,3.0,2.0
6860787,821186,1046682,0.0,590.0,35000000.0,EARNEDINCOME,계약직,기타가족소유,5000000.0,생활비,0.0,0.0,4.0,34000000.0,53.0,1.209000e+09,8.0,0.0,3.0,6.0
6894265,813130,719856,0.0,640.0,30000000.0,PRIVATEBUSINESS,정규직,자가,20000000.0,생활비,0.0,0.0,4.0,24000000.0,35.0,1.055000e+09,8.7,0.0,5.0,12.0
6939783,483468,2160503,1.0,NaN,110000000.0,EARNEDINCOME,정규직,자가,20000000.0,생활비,0.0,0.0,1.0,99000000.0,45.0,1.189000e+09,8.5,1.0,3.0,0.0
7186738,585437,463702,1.0,600.0,26000000.0,EARNEDINCOME,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,10.0,38000000.0,33.0,1.086000e+09,8.0,0.0,3.0,6.0
7351963,59504,1716706,1.0,620.0,24000000.0,EARNEDINCOME,정규직,자가,10000000.0,기타,0.0,0.0,22.0,453000000.0,41.0,1.403000e+09,8.5,1.0,3.0,2.0
7415402,845929,2138859,1.0,980.0,200000000.0,EARNEDINCOME,정규직,자가,150000000.0,생활비,0.0,0.0,4.0,642000000.0,44.0,1.294000e+09,7.7,0.0,3.0,1.0
7463574,702051,1120138,0.0,850.0,130000000.0,EARNEDINCOME,정규직,자가,30000000.0,생활비,0.0,0.0,0.0,0.0,43.0,1.203000e+09,8.2,0.0,3.0,2.0
7558229,370968,1710000,1.0,590.0,42000000.0,EARNEDINCOME,정규직,기타가족소유,10000000.0,대환대출,0.0,0.0,7.0,28000000.0,33.0,1.279000e+09,7.5,0.0,3.0,12.0
8446354,808665,2131630,0.0,700.0,12000000.0,EARNEDINCOME,정규직,자가,10000000.0,생활비,0.0,0.0,1.0,11000000.0,56.0,1.383000e+09,7.9,0.0,3.0,2.0
8467043,488230,1496580,0.0,1000.0,70000000.0,PRIVATEBUSINESS,정규직,자가,160000000.0,전월세보증금,0.0,0.0,2.0,119000000.0,51.0,1.119000e+09,8.0,0.0,5.0,5.0
8505030,175821,986972,1.0,NaN,90000000.0,EARNEDINCOME,정규직,자가,15000000.0,생활비,0.0,0.0,0.0,0.0,43.0,1.439000e+09,7.7,0.0,3.0,0.0
8528174,844267,736457,0.0,950.0,30000000.0,EARNEDINCOME,정규직,자가,2000000.0,생활비,0.0,0.0,2.0,17000000.0,46.0,1.213000e+09,7.3,0.0,3.0,1.0
8535170,508740,1530792,1.0,970.0,80000000.0,EARNEDINCOME,정규직,자가,100000000.0,투자,0.0,0.0,1.0,0.0,45.0,1.140000e+09,8.0,0.0,3.0,2.0
8660417,755875,731063,1.0,NaN,80000000.0,PRIVATEBUSINESS,기타,자가,100000000.0,생활비,0.0,0.0,0.0,0.0,41.0,1.780000e+09,7.9,0.0,4.0,0.0
10097559,699675,657740,1.0,610.0,70000000.0,EARNEDINCOME,정규직,기타가족소유,50000000.0,대환대출,0.0,0.0,6.0,104000000.0,51.0,1.718000e+09,7.2,0.0,3.0,3.0
10151368,847796,1296652,1.0,580.0,56000000.0,EARNEDINCOME,정규직,자가,5000000.0,생활비,0.0,0.0,11.0,141000000.0,31.0,1.000000e+10,9.9,0.0,3.0,7.0
10151374,847796,2026384,1.0,580.0,56000000.0,EARNEDINCOME,정규직,자가,70000000.0,대환대출,0.0,0.0,11.0,141000000.0,31.0,1.000000e+10,9.9,1.0,3.0,7.0
10151375,847796,87679,1.0,580.0,56000000.0,EARNEDINCOME,정규직,자가,5000000.0,생활비,0.0,0.0,11.0,141000000.0,31.0,1.000000e+10,9.9,0.0,3.0,7.0
10186846,840073,1155297,1.0,980.0,100000000.0,PRIVATEBUSINESS,정규직,자가,200000000.0,사업자금,0.0,0.0,0.0,0.0,45.0,1.415000e+09,7.9,0.0,3.0,6.0
10771974,826635,50418,1.0,NaN,200000000.0,PRIVATEBUSINESS,정규직,자가,300000000.0,사업자금,0.0,0.0,3.0,254000000.0,43.0,2.083000e+09,7.6,0.0,3.0,0.0
11076324,245858,703435,1.0,620.0,100000000.0,PRIVATEBUSINESS,정규직,자가,200000000.0,생활비,0.0,0.0,4.0,115000000.0,44.0,1.137000e+09,8.9,0.0,5.0,0.0
11305995,260264,1674818,1.0,900.0,85000000.0,EARNEDINCOME,정규직,자가,500000000.0,대환대출,0.0,0.0,0.0,0.0,32.0,1.160000e+09,7.9,0.0,3.0,1.0
11722126,691371,1741359,1.0,NaN,340000000.0,EARNEDINCOME,정규직,자가,50000000.0,생활비,0.0,0.0,10.0,555000000.0,41.0,1.104000e+09,7.7,0.0,3.0,2.0
12573159,479321,320729,1.0,NaN,108000000.0,EARNEDINCOME,정규직,자가,20000000.0,생활비,0.0,0.0,0.0,0.0,41.0,1.314000e+09,7.3,0.0,3.0,0.0
12595309,245253,1936818,1.0,NaN,76000000.0,EARNEDINCOME,정규직,자가,300000000.0,전월세보증금,0.0,0.0,1.0,0.0,36.0,1.017000e+09,7.9,0.0,3.0,0.0
12635200,317731,2030049,1.0,760.0,100000000.0,EARNEDINCOME,정규직,자가,30000000.0,대환대출,0.0,0.0,6.0,309000000.0,35.0,1.647000e+09,8.3,0.0,3.0,3.0
12882272,266460,830374,1.0,630.0,30000000.0,EARNEDINCOME2,정규직,기타가족소유,20000000.0,대환대출,0.0,0.0,4.0,46000000.0,40.0,1.000000e+10,19.5,0.0,3.0,2.0
12882301,266460,934667,1.0,630.0,30000000.0,EARNEDINCOME2,정규직,기타가족소유,20000000.0,대환대출,0.0,0.0,4.0,46000000.0,40.0,1.000000e+10,19.5,0.0,3.0,2.0

## user_data와 loan_data merge

In [22]:
# df_loan['loanapply_insert_time']=pd.to_datetime(df_loan['loanapply_insert_time'])
# df_log['timestamp']=pd.to_datetime(df_log['timestamp'])

In [ ]:
# df_loan['loanapply_insert_time']=pd.to_datetime(df_loan['loanapply_insert_time'])
# df_log['timestamp']=pd.to_datetime(df_log['timestamp'])

In [ ]:
# df_user_loan = pd.merge(df_user, df_loan)

## log_data event에 대하여 월별로 카운트

In [24]:
# df_log_count = df_log.groupby(['user_id','Month'])['event'].count().reset_index()
# df_user_loan = pd.merge(df_user_loan,df_log_count, how='left', on=['user_id','Month'], sort=False)
# df_user_loan['event'] = df_user_loan['event'].fillna(0)

In [27]:
# index2 = df_user_loan[df_user_loan['Month'] == 6].index
# df_train = df_user_loan.drop(index2)

### test set의 행은 제거 할수 없기에 mice를 이용하여 보간법을 시행
### train set의 null값은 제거

In [28]:
# df_train.isnull().sum()

NameError: name 'df_train' is not defined

In [ ]:
# df_train = df_train.dropna(axis=0)

In [ ]:
# df_train.isnull().sum()

In [ ]:
# df_test = df_user_loan[df_user_loan['Month'] == 6]

In [ ]:
# df_test.isnull().sum()

### MICE를 이용하여 보간법

In [29]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [ ]:
# df_test

In [ ]:
# df_user_loan['yearly_income'].describe()

## 모델돌리기

### 다항 나이브 베이지< 모델 돌리기

### 나이브 베이즈(NAive bayes classifier) 이론
#### 1.나이브 베이즈 모델
#### > 정의
#### '반응변수가 c일 때 어떤 속성일 확률'과 '반응변수가 c일 확률'의 곱과 비례
#### > 특징
#### 속성= 입력변수=독립변수, 반응변수는 따로 뗴어서 생각, 
#### 나이브베이즈 특징-> 설명변수간의 상호독립을 가정
#### --->계산 간단, 샘플수가 많지 않아도 계산&모델링 가능
#### 모델을 간단하게 만드는데도 불구하고 예측정도가 상당히 준수함(오분류율이 높지 않음)

### 나이브 베이즈 종류
#### 1. 가우시안 나이브 베이즈 : 설명변수 x가 연속형인 경우. x를 정규분포로 가정

#### 2.다항 나이브 베이즈: 설명변수 x가 범주형인 경우. x를 다항분포로 가정

## 모델 돌릴 것: 다항 나이브 베이즈

### 1. 데이터 생성하기: 멀티노미널 나이브 베이즈를 위한 라이브러리르 불러온다.

In [30]:
from sklearn.naive_bayes import MultinomialNB

### df_loan (loan dara와 user data 합친 것)-> applied_id가 반응변수
### df_log (사용자 앱 행동) 설명변수?
### df_user

In [32]:
df_loan

,user_id,application_id,gender,credit_score,yearly_income,income_type,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,Old,loan_limit,loan_rate,is_applied,Month,event
133,430982,1868275,1.0,620.0,2000000.0,EARNEDINCOME,정규직,자가,35000000.0,대환대출,0.0,0.0,2.0,15000000.0,26.0,5000000.0,9.6,0.0,5.0,3.0
134,430982,1868275,1.0,620.0,2000000.0,EARNEDINCOME,정규직,자가,35000000.0,대환대출,0.0,0.0,2.0,15000000.0,26.0,21000000.0,14.5,0.0,5.0,3.0
135,430982,1868275,1.0,620.0,2000000.0,EARNEDINCOME,정규직,자가,35000000.0,대환대출,0.0,0.0,2.0,15000000.0,26.0,5000000.0,16.4,0.0,5.0,3.0
136,430982,1868275,1.0,620.0,2000000.0,EARNEDINCOME,정규직,자가,35000000.0,대환대출,0.0,0.0,2.0,15000000.0,26.0,25000000.0,13.4,0.0,5.0,3.0
137,430982,1868275,1.0,620.0,2000000.0,EARNEDINCOME,정규직,자가,35000000.0,대환대출,0.0,0.0,2.0,15000000.0,26.0,38000000.0,15.1,0.0,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13197645,312979,1413775,1.0,NaN,10000000.0,EARNEDINCOME,정규직,자가,10000000.0,생활비,0.0,0.0,0.0,0.0,39.0,10000000.0,7.3,0.0,4.0,0.0
13197654,212726,1199031,1.0,660.0,30000000.0,EARNEDINCOME,정규직,전월세,2000000.0,생활비,0.0,0.0,2.0,34000000.0,27.0,16000000.0,15.3,0.0,4.0,4.0
13197655,212726,1199031,1.0,660.0,30000000.0,EARNEDINCOME,정규직,전월세,2000000.0,생활비,0.0,0.0,2.0,34000000.0,27.0,10000000.0,17.4,0.0,4.0,4.0
13197656,212726,1199031,1.0,660.0,30000000.0,EARNEDINCOME,정규직,전월세,2000000.0,생활비,0.0,0.0,2.0,34000000.0,27.0,6000000.0,16.0,0.0,4.0,4.0
13197657,212726,1199031,1.0,660.0,30000000.0,EARNEDINCOME,정규직,전월세,2000000.0,생활비,0.0,0.0,2.0,34000000.0,27.0,18000000.0,15.0,0.0,4.0,4.0

### 메모리로 인한 오류남-> 해결방법
#### 1.object type을 label encoding 시킴
#### 2. 행 갯수 줄이기

#### X,y를 df_log,df_loan에 변수들을 저장

### 인코딩 종류
#### - label Encoding-범주형 변수의 문자열을 수치형으로 반환
#### - One-hot Encoding-피처값의 유형에 따라 새로운 피처를 추가해 고윳값에 해당하는 칼럼에만 1을 표시하고 나머지 칼럼에는 0을 표시
#### - get_dummies():pandas에서 제공해주는 함수로서 더미의 가변수를 만들어준다.

### >> label Encoding

In [37]:
from sklearn.preprocessing import LabelEncoder

# 라벨 인코딩

In [41]:
class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [42]:
encoder = MultiColumnLabelEncoder(columns=['income_type','employment_type','purpose','houseown_type'])
df_loan=encoder.fit_transform(df_loan)

#### 모델 학습

In [43]:
from sklearn import datasets
from sklearn.naive_bayes import GaussianNB
import numpy as np
import pandas as pd
from sklearn.metrics import confusion_matrix #혼동행렬

In [78]:
df_loan.drop(['user_id','application_id','Month'],axis = 1,inplace=True)

C:\Users\kimsy\AppData\Local\Temp\ipykernel_5448\4288738626.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_loan.drop(['user_id','application_id','Month'],axis = 1,inplace=True)

In [80]:
X_train = df_loan.drop(['is_applied'], axis = 1)
y_train = df_loan['is_applied']

In [52]:
## 멀티노미얼 나이브 베이즈 모델 fitting

# 다항 나이브 베이즈 분류기 학습

In [75]:
mnb=MultinomialNB()
mnb.fit(X_train,y_train )

MultinomialNB()

In [81]:
mulitNB = mnb.fit(X_train,y_train)

## cross-validation

In [84]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold

kfold = KFold(n_splits = 5)
f1_score = cross_val_score(mulitNB, X_train,y_train, scoring ='f1', cv = kfold)
f1_score

array([0.12707478, 0.13748676, 0.13886591, 0.13937248, 0.14079194])




## 모델 정확도

In [ ]:
#정확도 : Accuracy,  예측이 정답과 얼마나 정확한가?
#정밀도 : Precision 예측한 것중에 정답의 비율은?
#재현율 : Recall    찾아야 할 것중에 실제로 찾은 비율은?
#F1 Score : 정밀도와 재현율의 조화 평균

In [ ]:
# numpy: 파이썬의 계산과학분야에 이용되는 핵삼역할을 하는 라이브러리
#        고성능의 다차원 배열 객체와 이를 다룰 도구를 재공
#        행렬이나 일반적으로 대규모 다차원 배열을 쉽게 처리할 수 있도록 지원하는 파이싼의 라이브버리

In [ ]:
#fbeta_score
#F-베타 점수를 계산합니다.

# precision_recall_fscore_support
# 정밀도, 리콜, F-점수 및 지원을 계산합니다.

# jaccard_score
# Jaccard 유사성 계수 점수를 계산합니다.

# multilabel_confusion_matrix
# 각 클래스 또는 샘플에 대한 혼동 행렬을 계산합니다.

In [ ]:
true positive + false positive == 0
true positive + false negative == 0
UndefinedMetricWarningzero_division

In [ ]:
import numpy as np
import sklearn.metrics as metrics

F1 = 2 * (precision * recall) / (precision + recall)

In [ ]:
f1 = model.MultinomialNB(X_loan, Y_loan)
print('Test score:', score[0])
print('Test accuracy:', score[1])